body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.change-resolution {
    padding: 8px 16px;
    margin: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    padding: 16px;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.grid {
    flex: 1;

    -webkit-transition: all 10s;
}

.grid:hover {
    background-color: black;
    
    -webkit-transition: all 0s;
}